Dear #{@ticket.customer_name},
===============================================

You have submitted a ticket on our website.
You can view it on the following address:
#{@url}

You will be informed by the email when
our staff read and answer it.

Have a nice day.