Dear #{@ticket.customer_name},
===============================================

Your ticket was read by our staff member and
will be responded shortly.

You can view it on the following address:
#{@url}

Have a nice day.